#skills{
    max-width: 80%;
    margin: 0 auto;
    padding-top: 6rem;
    display: grid;
    gap: 3rem;
    h1{
        color: var(--title-color);
        font-size: clamp(1rem, 2rem, 3rem);
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
        margin: 0 auto;
        gap: 5rem 0;
        align-items: center;
    }
}
@media (max-width: 1000px){
    #skills{
        .grid{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
@media (max-width: 860px){
    #skills{
        .grid{
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media (max-width: 540px){
    #skills{
        .grid{
            grid-template-columns: 1fr 1fr;
            gap: 3rem 1rem;
            margin: 0 auto;
            width: 100%;
            justify-content: center;
        }
    }
}
@media (max-width: 460px){
    #skills{
        .grid{
            grid-template-columns: 1fr;
        }
    }
}